.container {
  margin-bottom: 50px;
  height: 7800px;
  overflow:hidden;
}
.titleheader {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.twitter-users img { 
  width: 30px; float:left; margin-right: 10px; 
  margin-top:4px;
}
.date {
  float: right;
  font-size: smaller;
  color: #CCC;
}

.leftBar ul {
  list-style-type: none;
  margin-left:0;
}
.blogs li {
  margin-top: 0.5em;
}

.blogpost { 
  border-top: 1px dotted #ECECEC;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}
.tweet { 
  clear: left;
  border-top: 1px dotted #ECECEC;
  font-size: smaller;
}
  .tweet p { 
    margin-bottom: 2px;
  }
  .tweet img {
    padding-top:5px;
    margin-right: 10px;
    width: 30px;
  }
.twitter-users li {
  clear:left; 
}
.leftBar h3 { clear:left }
#bostonrblink {
  margin-top: 1em;
  float:right;
}
.location {
  color: #CCC;
  font-size: smaller;
}
.tweet_date {
  color: #CCC;
  font-size: smaller;
}
.tweet img {
  float: left;
  padding-top:5px;
}
.blogpost img {
  float: right;
  max-width: 150px;
  margin-left: 4px;
  margin-top: 4px;
}
